<!DOCTYPE html>
<html>
	{% include head.html %}

	<body>
		{% include header.html %}
		{% include page_content.html category='About' %}
		{% include page_content.html category='Professional' %}
		{% include page_content.html category='Open-Source' %}
		{% include page_content.html category='Academic' %}
		{% include page_content.html category='Books' %}
		{% include page_content.html category='Publications' %}
		{% include contact.html %}
		{% include footer.html %}
		{% include js.html %}
	</body>
</html>
